{% extends "fragments/base.html" %}
{% block title %}Videojuegos{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Fecha de lanzamiento</th>
            <th>Plataforma</th>
            <th>Ver detalles</th>
        </tr>
        {% for videojuego in videojuegos %}
        <tr>
            <td>{{videojuego.id}}</td>
            <td>{{videojuego.nombre}}</td>
            <td>{{videojuego.genero}}</td>
            <td>{{videojuego.fecha_lanzamiento}}</td>
            <td>{{videojuego.plataforma}}</td>
            <td><a href="/videojuegos/{{ videojuego.id }}">Ver</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block footer %}
Autor: Juan Trejo
{% endblock %}