{% extends "fragments/base.html" %}
{% block title %}Videojuegos{% endblock %}

{% block content %}
<table class="table table-info table-striped text-center">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Género</th>
            <th scope="col">Fecha de lanzamiento</th>
            <th scope="col">Plataforma</th>
            <th scope="col">Ver detalles</th>
        </tr>
    </thead>
    <tbody>
        {% for videojuego in videojuegos %}
        <tr>
            <th scope="row">{{ videojuego.id }}</th>
            <td>{{ videojuego.nombre }}</td>
            <td>{{ videojuego.genero }}</td>
            <td>{{ videojuego.fecha_lanzamiento }}</td>
            <td>{{ videojuego.plataforma }}</td>
            <td><a href="/videojuegos/{{ videojuego.id }}">Ver</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block footer %}
Autor: Juan Trejo
{% endblock %}