{%extends "fragments/base.html" %}

{% block content %}

<div class="form-container">
    <div class="container mt-4 mb-4">
        <div class="text-center mb-4">
            <h2 class="text-center mb-5">Nuevo Videojuego</h2>
            <form class="row g-3 m-auto" style="max-width: 600px;">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Nombre del Videojuego</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Género</label>
                    <input type="text" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Fecha de lanzamiento</label>
                    <input type="date" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Plataforma</label>
                    <input type="text" class="form-control" id="inputEmail4">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>
    

    <a href="/videojuegos" class="back-link">← Volver a la lista de Videojuego</a>
</div>
{% endblock %}