{% extends "fragments/base.html" %}
{% block title %}Videojuegos{% endblock %}

{% block content %}
<div class="container mt-4 mb-4 p-4 border rounded-3 bg-light max-width-400 mx-auto">
    <div class="text-center mb-4">
    <h2 class="text-center mb-5"> Detalle del videojuego {{ videojuego.id }}</h2>

    </div>
    <div class="mb-4 fs-5">

        <ul>
            <li>
                <Strong >ID: </Strong>  {{ videojuego.id }}
            </li>
            <li>
                <Strong>Nombre: </Strong>  {{ videojuego.nombre }}
            </li>
            <li>
                <Strong>Género: </Strong>  {{ videojuego.genero }}
            </li>
            <li>
                <Strong>Fecha de Lanzamiento: </Strong>  {{ videojuego.fecha_lanzamiento }}
            </li>
            <li>
                <Strong>Plataforma: </Strong>  {{ videojuego.plataforma }}
            </li>
        </ul>
    </div>
    
    <div class="text-center">
        <a href="/videojuegos" class="btn btn-primary mb-3 mt-4 justify-content-center">Volver al listado de videojuegos</a>
    </div>
</div>

{% endblock %}
